<!DOCTYPE html>
<html>
<head>
    <title>Processing</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1 id="message">Processing Defects</h1>
        <progress id="progressBar" value="0" max="100"></progress>
        <p id="progress">0%</p>
        <a id="downloadLink" href="/download">Download Processed File</a>
        <p class="error" id="error"></p>
        <a id="backLink" class="back-link" href="/">Go back to select correct file & priority</a>
    </div>
</body>
</html>